<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Figuras Geométricas</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Calculadora de Figuras Geométricas</h1>
  <ul class="menu-figuras">
    <li>
      <img src="/img/rombo.png" alt="Rombo">
      <a href="/rombo">Rombo</a>
    </li>
    <li>
      <img src="/img/rectangulo.png" alt="Rectángulo">
      <a href="/rectangulo">Rectángulo</a>
    </li>
    <li>
      <img src="/img/trapecio.png" alt="Trapecio">
      <a href="/trapecio">Trapecio</a>
    </li>
  </ul>
</body>
</html>
