<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Rombo</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Calculadora de Figuras Geométricas</h1>
  <h2>Rombo</h2>

  <img src="/img/rombo.png" alt="Imagen de un rectángulo" style="max-width: 100px; margin: 10px 0;">


  <form method="POST" action="/rombo">
    <label for="D">Diagonal mayor:</label>
    <input name="D" id="D" type="number" step="any" required>

    <label for="d">Diagonal menor:</label>
    <input name="d" id="d" type="number" step="any" required>

    <label for="lado">Lado:</label>
    <input name="lado" id="lado" type="number" step="any" required>

    <div class="botones">
      <button name="tipoOperacion" value="area" type="submit">Calcular Área</button>
      <button name="tipoOperacion" value="perimetro" type="submit">Calcular Perímetro</button>
    </div>
  </form>

  <% if (typeof error !== 'undefined' && error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>


  <% if (typeof resultadoArea !== 'undefined' && resultadoArea) { %>
    <p><%= resultadoArea %></p>
  <% } %>

  <% if (typeof resultadoPerimetro !== 'undefined' && resultadoPerimetro) { %>
    <p><%= resultadoPerimetro %></p>
  <% } %>

  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/rectangulo">Rectángulo</a></li>
    <li><a href="/trapecio">Trapecio</a></li>
  </ul>

</body>
</html>
